.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-card {
    background-color: #694584;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    width: 300px;
    text-align: center;
}

.login-card h2 {
    color: rgb(255, 255, 255);
    margin-top: 0;
    margin-bottom: 30px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #332F3B;
    font-size: 1.2em;
    pointer-events: none;
}

.login-card input[type="text"],
.login-card input[type="password"] {
    width: 100%;
    padding: 10px 15px 10px 40px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    background-color: white;
}

.forgot-password-link {
    color: #A5C9FF;
    text-decoration: none;
    font-size: 0.9em;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.login-button {
    background-color: #420170;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
}

.login-links {
    margin-top: 50px;
    width: 380px;
    display: flex;
    justify-content: space-between;
}

.login-links a {
    color: #A5C9FF;
    font-size: 0.9em;
}